/* --------------------------------------------------------
    RESET https://andy-bell.co.uk/a-more-modern-css-reset/
----------------------------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}


/* ============================================
    BASE
=============================================== */

:root {

    --hsl-white: 0, 0%, 100%;
    --hsl-cyan: 178, 100%, 50%;

    --clr-main-bg: hsl(217, 54%, 11%);
    --clr-nft-card-bg: hsl(216, 50%, 16%);
    --clr-nft-card-line: hsl(215, 32%, 27%);
    --clr-cyan: hsl(var(--hsl-cyan));
    --clr-White: hsl(var(--hsl-white));
    --clr-text: hsl(215, 51%, 70%);

    --footer-height: 3rem;
}

body {
    background-color: var(--clr-main-bg);
    color: var(--clr-text);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

main {
    min-height: calc(100vh - var(--footer-height));
    padding-top: var(--footer-height);
}

footer {
    height: var(--footer-height);
}

a:hover,
a:active {
    color: var(--clr-cyan);
}

.flex-row,
.flex-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.flex-row { gap: .5rem; }

.flex-center { justify-content: center; }

.sr-only {
    position: absolute ;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}


/* ============================================
    NFT CARD
=============================================== */

.nft-card {
    display: grid;
    align-content: start;
    gap: 1rem;
    width: 90%;
    max-width: 22rem;
    padding: 1.5rem;
    background-color: var(--clr-nft-card-bg);
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .2);
}

@media (min-width: 60rem) {
    .nft-card {
        gap: 1.125rem;
    }
}

.nft-card a {
    text-decoration: none;
}

/* nft image - show overlay on hover */

.nft-img-link {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.nft-img-link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--hsl-cyan), .5);
    opacity: 0;
    transition: .3s ease;
}

.nft-img-link:hover .nft-img-link-overlay {
    opacity: 1;
}

/* Title and description */

.nft-title {
    margin-top: .5rem;
    font-size: 1.375rem;
    font-weight: 600;
    color: var(--clr-White);
}

@media (min-width: 60rem) {
    .nft-description {
        font-size: 1.125rem;
    }
}

/* Price and time */

.nft-price-container {
    color: var(--clr-cyan);
    font-weight: 600;
}

.nft-time-container {
    margin-left: auto;
}

/* Creator avatar and name */

.nft-creator {
    gap: 1rem;
    padding-top: 1rem;
    border-top: 2px solid var(--clr-nft-card-line);
}

.nft-creator img {
    width: 2rem;
    aspect-ratio: 1/1;
    border: 2px solid var(--clr-White);
    border-radius: 100%;
}

.nft-creator a {
    font-weight: 400;
    color: var(--clr-White);
}

.nft-creator a:hover,
.nft-creator a:active {
    color: var(--clr-cyan);
}

/* ============================================
    FOOTER
=============================================== */

.attribution { font-size: .75rem; text-align: center; }
.attribution a { color: var(--clr-cyan); }